.myButton {
  box-shadow: 0 0 0 2px #9fb4f2;
  background: #7892c2 linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  border-radius:10px;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: Arial, serif;
  font-size:19px;
  padding:12px 37px;
  text-decoration:none;
  text-shadow:0 1px 0 #283966;
}
.myButton:hover {
  background: #476e9e linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
}
.myButton:active {
  position:relative;
  top:1px;
}
